.myModal {
    width: 25% !important;
    height: 60% !important;
    left: 70vw !important;
    top: 5vh !important;
    /* border-radius: 20%;
    overflow: hidden; */
}

.search-btn:hover {
    cursor: pointer;
}
